<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>iDeeTest</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
    <div class="container container--pink col-xs-8 col-xs-offset-2">
      <div class="header">
        <div class="header__title">
          <i class="fa fa-lightbulb-o fa-4x header__icon" aria-hidden="true"></i><h2>iDeeTest</h2>
        </div>
        <div class="header__links">
          <a href="#" class="header__link text-white">Aktiivsed küsitlused</a>
          <a href="#" class="header__link text-white">Preemiapunktid</a>
          <a href="#" class="header__link text-white">Küsi meilt</a>
        </div>
      </div>
      <div class="content">
        <div class="text-white text-center">
          <h2>Sinu arvamus loeb!</h2>
        </div>
        <div class="margin-top-32 text-center">
          <h3>Aita luua uusi teenuseid ja tooteid ning kogu preemiapunkte. Mida rohkem vastad, seda enam võidad.</h3>
        </div>
        <div class="content__body margin-top-32 text-center">
          <h4>3 põhjust miks</h4>
          <div class="content__circles margin-top-32 col-xs-12">
            <div class="content__circle col-xs-4">
              <div class="content__circle-outer">
                <div class="content__circle-inner">
                  <div class="content__circle-icon">
                    <i class="fa fa-cog fa-3x" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="content__circle-text">
                Katseta uusi teenuseid või tooteid enne teisi
              </div>
            </div>
            <div class="content__circle col-xs-4">
              <div class="content__circle-outer">
                <div class="content__circle-inner">
                  <div class="content__circle-icon">
                    <i class="fa fa-user-md fa-3x" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="content__circle-text">
                Kogu preemiapunkte ja vaheta need auhindade vastu
              </div>
            </div>
            <div class="content__circle col-xs-4">
              <div class="content__circle-outer">
                <div class="content__circle-inner">
                  <div class="content__circle-icon">
                    <i class="fa fa-star fa-3x" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="content__circle-text">
                Kogu preemiapunkte ja vaheta need auhindade vastu
              </div>
            </div>
          </div>
          <div class="content__button col-xs-12">
            <a class="btn btn-default margin-top-32" href="#">
              Olen käpp!
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2 block-container no-padding">
      <div class="content--main">
        <div class="margin-bottom-16 text-center">
          <h1>How it works</h1>
        </div>
        <div class="content__items margin-top-16 col-xs-12">
          <div class="content__item col-xs-4">
            <div class="content__item-wrapper">
              <div class="content__item-title">
                <h4>1. Durable Quality Handbags</h4>
              </div>
              <div class="content__item-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id nisi nisi.
              </div>
            </div>
          </div>
          <div class="content__item col-xs-4">
            <div class="content__item-wrapper">
              <div class="content__item-title">
                <h4>2. Durable Quality Handbags</h4>
              </div>
              <div class="content__item-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id nisi nisi.
              </div>
            </div>
          </div>
          <div class="content__item col-xs-4">
            <div class="content__item-wrapper">
              <div class="content__item-title">
                <h4>3. Durable Quality Handbags</h4>
              </div>
              <div class="content__item-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id nisi nisi.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2 test-container no-margin-bottom no-padding-bottom container--beige">
        <div class="margin-bottom-16 text-center text-white">
          <h1>Aktiivsed testid</h1>
        </div>
      <div class="test__items margin-top-16 col-xs-8 col-xs-offset-2">
        <div class="test__item col-xs-4">
          <div class="test__item-upper">
          </div>
          <div class="test__item-lower">
            <h3 class="text-center">5 Points</h3>
          </div>
        </div>
        <div class="test__item col-xs-4">
          <div class="test__item-upper">
          </div>
          <div class="test__item-lower">
            <h3 class="text-center">10 Points</h3>
          </div>
        </div>
        <div class="test__item col-xs-4">
          <div class="test__item-upper">
          </div>
          <div class="test__item-lower">
            <h3 class="text-center">15 Points</h3>
          </div>
        </div>
        <div class="container-footer col-xs-12">
          <h3>Benefit example</h3>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-xs-offset-2 no-margin-top margin-bottom-8 test-container container--green">
      <div class="margin-bottom-16 text-center text-white">
        <h1>Alati oleme saadaval</h1>
      </div>
      <div class="info__items margin-top-16 col-xs-8 col-xs-offset-4 no-padding">
        <div class="info__item col-xs-6">
          <a class="info__circle" href="#">
            <div class="info__icon">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </a>
          <a class="info__circle" href="#">
            <div class="info__icon">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </a>
          <a class="info__circle" href="#">
            <div class="info__icon">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </a>
          <a class="info__circle" href="#">
            <div class="info__icon">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </a>
          <a class="info__circle" href="#">
            <div class="info__icon">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </a>
          <a class="info__circle" href="#">
            <div class="info__icon">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="content__button text-center col-xs-12 margin-bottom-32 margin-top-32">
        <a class="btn btn-default btn--pink margin-top-32" href="#">
          Kirjutan
        </a>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../script/script.js" type="text/javascript"></script>
  </body>
</html>
