.margin-top-64 {
  margin-top: 64px;
}

.margin-top-32 {
  margin-top: 32px;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-bottom-16 {
  margin-bottom: 16px !important;
}

.margin-bottom-96 {
  margin-bottom: 96px;
}

.margin-bottom-32 {
  margin-bottom: 32px !important;
}

.margin-bottom-64 {
  margin-bottom: 64px;
}

.text-white {
  color: white;
}

.text-40 {
  font-size: 40px;
}

.text-small {
  font-size: 20px;
}

.text-bold {
  font-weight: 700 !important;
}

.text-big {
  font-size: 45px;
  letter-spacing: calc(var(--letter-spacing-base) / 2);
  font-weight: 300;
}

.text-regular {
  font-weight: 400 !important;
}

.text-thin {
  font-weight: 100 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.margin-bottom-8 {
  margin-bottom: 8px !important;
}

.row--center {
    display: flex;
    justify-content: center;
}
