:root {
    --white: #fff;
    --yellow: #f9b632;
    --yellow-d: #F4C15B;
    --grey-d: #41413d;
    --grey-l: #d8d8d8;
    --white-d: #f9f9f9;
    --green: #7abcb9;
    --green-l: #46869c;
    --blue: #508499;

    --letter-spacing-base: 2px;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--grey-d);
}

.container-custom {
  padding: 32px 48px 16px 48px;
}

.container-custom-triangle {
  position: relative;
}

.container-custom-triangle:before {
  content: "";
  display: none;
  border-color: transparent transparent #FFF transparent;
  border-style: solid;
  border-width: 0 30px 30px 30px;
  bottom: 0;
  left: 28%;
  height: 20px;
  width: 20px;
  position: absolute;
}

.container-custom--extra-padding {
  padding: 48px;
}

.container-header{
    background: url(../images/header.png)
}

.container--tests {
  background-color: var(--green);
}

.container--gray {
  background-color: var(--grey-l);
}

.container--blue {
  background-color: var(--blue);
}

.container--footer {
  background-color: var(--grey-d);
}

.hero {
    background: url(../images/header.png);
    background-position: center center;
    background-size: cover;
}

.hero__title {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-base);
}

.hero__subtitle {
    color: var(--white);
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    letter-spacing: var(--letter-spacing-base);
    line-height: 1.4;
    margin-top: 16px;
}

.hero__ctatitle {
    color: var(--white);
    font-size: 42px;
    text-align: center;
    font-weight: 300;
    letter-spacing: var(--letter-spacing-base);
    margin-top: 40px;
}

.hero__ctasubtitle {
    text-align: center;
    font-size: 22px;
    margin-top: 60px;
    line-height: 1.4;
    letter-spacing: calc(var(--letter-spacing-base) / 2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  align-items: center;
  display: flex;
  color: var(--white);
}

.header__icon {
  padding-right: 16px;
}

.header__link {
  padding-right: 12px;
  color: var(--white);
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
}

.header__link:hover {
  transition: color .2s;
  text-decoration: none;
}

.content {
  margin: 60px 0;
}

.content__title {
  color: white;
}

.content__circle-outer {
  border-radius: 50%;
  background-color: #41413D;
  height: 80px;
  position: relative;
  width: 80px;
  margin: 0 auto;
}

.content__circle-inner {
  border-radius: 50%;
  border: 1px solid white;
  background-color: #41413D;
  position: absolute;
  top: 5px;
  left: 5px;
  height: 70px;
  width: 70px;
}

.content__circle-icon {
  color: white;
  top: 13px;
  left: 14px;
  position: absolute;
  width: 39px;
  height: 42px;
}

.content__circle-text {
  font-size: 18px;
  margin-top: 8px;
  color: var(--white);
  font-weight: 300;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 1px;
}

.content__item:after {
    content: "";
    position: absolute;
    right: 0;
    top: 30px;
    bottom: 10px;
    width: 1px;
    background: var(--green-l);
}

.content__item:last-child:after {
    display: none;
}

.content__item-wrapper {
  padding: 32px;
}

.content__item-title {
  font-size: 31px;
  color: var(--green-l);
  text-align: center;
}

.content__item-body {
    text-align: center;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: calc(var(--letter-spacing-base) / 2);
}

.content--main {
  margin-top: 8px !important;
}

.card {
    position: relative;
}

.card__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.test-container__items {
  display: flex;
  justify-content: space-evenly;
}

.test__item-upper {
  background-color: #F7CDCC;
  height: 250px;
  padding: 32px;
}

.card__label {
  margin-bottom: 0;
}

.card__upper {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid var(--white);
    padding: 16px;
}

.card__lower {
    background: var(--white);
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    border: 1px solid var(--white);
    padding: 18px 18px 30px;
}

.card__upper-title {
    font-size: 20px;
    font-weight: 700;
}

.card__upper-subtitle {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}

.card__lower-title {
    color: var(--yellow);
    font-size: 31px;
    margin: 0;
    text-align: center;
    font-weight: 300;
}

.info__circle {
  background-color: #C5BBB4;
  border-radius: 99em;
  position: relative;
  height: 56px;
  width: 56px;
}

.info__icon {
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info__item {
  display: flex;
  justify-content: space-evenly;
}

.btn--pink {
  background-color: #F7CECD !important;
}

.btn--yellow {
    background-color: var(--yellow);
    border-radius: 30px;
    padding: 10px 60px 10px 60px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: calc(var(--letter-spacing-base) / 2);
    color: var(--grey-d);
}

.btn--yellow:hover {
    background: var(--yellow-d);
}

.form-label {
  text-align: left;
  color: var(--grey-l);
  font-weight: 300;
}

.form-control {
  background-color: var(--white-d);
  border: 1px solid var(--grey-l);
}

.slidecontainer {
  width: 100%;
}

.slider__flex {
  display: flex;
  justify-content: space-between;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--blue);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--blue);
    cursor: pointer;
}
